<div class="container w-50 mx-auto">
     <h1 class="my-4">Create new note</h1>
    <form (submit)="saveNote()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   [(ngModel)]="note.title"
                   required
                
                   placeholder="Title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text"
                   class="form-control"
                   id="content"
                   name="content"
                   [(ngModel)]="note.content"
                   required
                   placeholder="Content">
        </div>
      
        <button class="btn btn-success my-4" type="submit">Create</button>

    </form>
<p>Test</p>

</div>
   
