
    <div class="container my-5">
        <div class="row justify-content-center">
            <h2 class="text-center mb-4">My Notes</h2>
            <a href="/note/create" class="btn btn-primary mx-auto my-5" style="display: inline-block; width: auto;">Create Note</a>

            <div class="row" *ngIf="notes.length>0">

                <div class="col-md-4 mb-4" *ngFor="let note of notes">
                    <div class="card shadow-sm h-100">
                        <div class="card-header">
                            <h5 class="card-title" >{{note.title}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text" >{{note.content}}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary me-3" [routerLink]="['/note/edit', note.id]">Edit</a>
                            <form *ngIf="note.id" (submit)="deleteNote(note.id)" class="d-inline"  >
                                <button type="submit" class=" btn my-2 btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="notes.length===0" >
                <h5 class="text-danger text-center italic  pt-5">You don't have notes!</h5>

            </div>
        </div>
    </div>

